.cargandoLogin{
    height: 100% !important;
}

.cargandoLogin span{
    display:block;
    margin: 0 auto;
    width:50px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.cargandoInput{
  display: none;
  position:absolute;
  bottom:2px;
  right:5px;
  width:24px;
  height:24px;
  text-align: center;
}

.cargandoInput i{
    display:block;
    margin: 0 auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;    
}

.spinning{
  text-align: center;
  display: inline-block;
}
.spinning i{
  display:block;
  margin: 0 auto;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;    
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.cargandoLogin .leyenda{
    margin: 5px 0;
}

div.contienePrimerosCamposForm {
  /*  padding: 20px;*/
}


.contienePrimerosCamposForm .row{
    border-bottom: 1px solid #ddd;
    padding: 30px 50px;
    margin-bottom: 0px;
}
.contienePrimerosCamposForm .rowSinBorde{
    border-bottom: 0;
}


.contieneFormJerarquiaAM {
    width: 100%;
}

div.cellBotOpcsCont {
    /*height: auto;*/
    margin: 0 0.5%;
}

div.btnNoticiasIns {
    padding: 30px 0;
}

#ayudaFormulario,
.ayudaFormulario
{
/*	background-color:#FFFFFF;*/
	padding:0;
	text-align:justify;
/*	width:320px;*/
	margin:0 12px 0 0;
}

#toggAyudaFormulario
.toggAyudaFormulario
{
	border-top:2px solid #666666;
	border-left:2px solid #666666;
	border-right:2px solid #666666;
	border-bottom:2px solid #666666;
	padding:0;
}

#txtAyudaFormulario .bd,
.txtAyudaFormulario .bd
{
	padding:0 10px 0 10px;
	margin:0;
	text-align:justify;
/*	width:296px;*/
}

input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea {
   /* width: 99%;*/
}

.form-control{
  width: 99% !important; 
}

.inputABM {
  font-size: 14px!important;
  color: #555555!important;
  background-color: #ffffff !important;
  border: 1px solid #cccccc!important;
  border-radius: 4px!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s!important;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
}

.inputABMDisabled{
    background-color: #eee !important;
}

.inputABMFull {
    width:99%;
    height: 34px!important;
}

.inputABM:focus, .textareaABM:focus {
  border-color: #66afe9!important;
  outline: 0!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)!important;
}

.textareaABM {
  font-size: 14px!important;
  color: #555555!important;
  background-color: #ffffff !important;
  border: 1px solid #cccccc!important;
  border-radius: 4px!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s!important;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
  height: 6rem;
}

.textareaABMFull {
    width:100%;
}
.textAreaAnimacion{
  height: 18rem;
}
/*
textarea {
  height: 6rem;
}*/

.tagsABM{
  height: 3rem;
}

div.inputTitleDiv {
    padding: 0 0 5px 15px;
}

span.inputTitle {
    font-size: 13px;
}

span.buttonImg
{
	cursor:pointer;
}


input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.textareaABM {
    padding: 2px 5px;
    padding-right:0px;
    margin:0 0 0;
}

.input-field {
    margin-top: 0;
}

/*.row .col.l6 {
    padding-top: 10px;
}*/

.lblCheckABM {
    color:#000;
}

.imgPrev img{
    width:100%;
}

.fileMiddle{
    display: inline-block;
    width: 50%;
}

.iconosArchivos{
    /*float:right;*/
}

.file-field .btn, .file-field .btn-large {
    float: left;
    height: 2rem;
    line-height: 2rem;
    margin: 20px 0;
}

.botoneraABM{
    overflow: hidden;   
}


.botoneraABM input{
    float:right;
    margin: 5px;  
}

#contComentarios, #contResolucion{
    color:#000;
}



#contComentarios .input-field label, #contResolucion .input-field label {
    color: #000;
}
#contComentarios label, #contResolucion label {
    color: #000;
}
.imageCopete img{
    width:100%;
}

.inputDateABM{
    width:12% !important;
    height:25px !important;
}

.inputDateYearABM {
    height: 25px !important;
    width: 19% !important;
}

.inputFileABMFull {
    height: 44px!important;
}

select{
    display: inline-block;
    /*width: 100%;*/
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff !important;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.selectABM{
    width:50% !important;
    height:25px !important;
}

#dtpfechadesde_h, #dtpfechahasta_h,#dtpfechadesde_mi, #dtpfechahasta_mi{
    width: 55px !important;
    padding: 0px;
    padding-top: 5px;
}
#fechainicio_h, #fechafin_h,#fechainicio_mi, #fechafin_mi{
    width: 55px !important;
    padding: 0px;
    padding-top: 0px;
}

#contFecFinRep{
    display:inline-block;
}

#metaRep{
    margin-top:20px;
}

.inputABMSmall{
    height:2rem !important;
}

.contCheck .row{
    border-bottom:0px;
}

.contCheck{
    margin-top:30px;
}

#contCategorias .row{
    border-bottom:0px;
    padding:0;
    margin:0;
}

#msgPersonalizado{
    margin-top:70px;
}

.colInt{
    padding:0px !important;
}

@media only screen and (max-width: 360px) {
  .contCheck .row{
   /* margin-left:0px !important;
    margin-right:0px !important;*/
    padding: 5px 20px;
    }
}

@media only screen and (max-width: 600px) {
  .chkComentario{
    margin:10px 0;    
  } 
  
  .contienePrimerosCamposForm .row{
        padding: 20px;
    }
}

@media only screen and (min-width:361px) and (max-width: 600px) {
  
  .contCheck .row{
   /* margin-left:0px !important;
    margin-right:0px !important;*/
    padding: 20px 50px;
    }
    
}

@media only screen and (min-width:601px) and (max-width: 992px) {
  
  .contCheck .row{
    /*margin-left:0px !important;
    margin-right:0px !important;*/
    }
    
    .contCheck .row{
    padding: 20px 0px;
}
.contienePrimerosCamposForm .row{
        padding: 20px 20px;
    }
    
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
a.list-group-item,
button.list-group-item {
  color: #555;
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: #333;
}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}
button.list-group-item {
  width: 100%;
  text-align: left;
}

div.JAMControlTree
{
	width: 100%;
	/*border: 1px solid #818385;*/
	padding-bottom: 17px;
    padding-left: 17px;
    padding-top: 17px;
    max-height:90%;
	overflow:auto;
    font-size: 14px!important;
    color: #555555!important;
    background-color: #ffffff !important;
    border: 1px solid #cccccc!important;
    border-radius: 4px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s!important;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
}
.arbolJerarquias{
  max-height: 300px;
  overflow: auto;
}
.collapsible-sin-sombra{
  box-shadow: none !important;
  margin: 0rem 0 1rem 0 !important;
  border-top: 0 !important;
}

.collapsible-sin-sombra .collapsible-header{
  background-color: #f2f2f2 !important;
}

.ygtvrow:hover{
   background-color: #f5f5f5;
}
.ygtvrow, .ygtvtn, .ygtvtm, .ygtvtmhh, .ygtvln, .ygtvlm{
    vertical-align:center;
    height: 26px;
  }
  
@media only screen and (max-width: 600px) {
  div.ListSelectCategoria{
    margin:10px 0;   
  } 
  
  /*.ygtvrow{
    display:block;
    height: 40px;
  }*/
  .ygtvrow, .ygtvtn, .ygtvtm, .ygtvtmhh, .ygtvtp,.ygtvln, .ygtvlm{
    height: 40px;
    vertical-align:center;
  }
}

#notificarUsuarios{
    margin-top:70px;
}

#notificarUsuarios .row .row{
    padding:0px;
}

#notificarUsuarios .row h3{
    font-size:1rem;
}

.tituloSelUsuario{
    font-weight: bold;
}

.inputBuscar{
    display:inline-block;
    width:40%;
    margin-bottom:15px;
    margin-top:10px;
}
.inputBuscar input{
    width:100%;
}
.inputBuscar label{
    left:0.15rem;
}
.seleccionUsuarioControlBtBuscar, .permisosBtBuscar{
    width:5%;
}

.selectorUsuariosTitulo{
    font-weight:bold;
}

span.btPermiso{
    cursor:pointer;
    float:right;
}

#seleccionUsuarioCont{
    display:none;
}

#seleccionUsuarioCont tr td{
    padding: 5px 5px;
}
#NotificarUsuariosTblUsersSelected tr td, #TblUsers tr td{
    padding: 5px 5px;
}
#notificarUsuarios table th, #TabsControl table th{
    font-weight:normal;
}

#notificarUsuarios table tr.tituloTabla, #TabsControl table tr.tituloTabla{
    border-bottom:1px solid #000;
}

#NotificarUsuariosTblUsersSearch tr:hover, #TblUsers tr:hover {
    background-color: #80d8ff;
}

#NotificarUsuariosTblUsersSearch tr.userSelected2{
    /*background-color: #80d8ff;*/
}
#TblUsers tr.userSelected2{
    background-color: #80d8ff;
}
#OptsJerarquiaAll{
    margin-top:16px;
}
#lstCursos{
    height: 200px;
}
#lstCursos option{
    padding: 6px 0px;
}

.contieneFilaJerarquia td,  .tituloTablaPermisos th{
    padding: 2px 9px;
}
.tienePermiso{
    color:#558b2f;
}

.contenedorPermisosLeyenda i{
    font-size:13px;
}
.tituloTablaPermisos th.permIcono i{
    font-size:19px;
}

.tituloTablaPermisos th.permIcono{
    text-align:center;
}

.icoDenegado{
    color: #ff8a80;
}

.contieneFilaJerarquia{
    background-color: #fff;
}

.filaDenegada{
    background-color: #ff8a80;
}

.btnDelete{
    cursor:pointer;
}

.filaDenegada .tienePermiso{
    color:#00294c;
}

@media only screen and (max-width: 992px) {
  #seleccionUsuarioCont{
    margin-bottom:45px;
    }
}

.imgBorrar{
    cursor:pointer;
}

@media only screen and (min-width: 992px) {
    .contUsuariosSeleccionar{
        border: 1px solid #ccc;
        border-radius:5px;
    }
    #metaRep{
        margin-top:0px;
    }
}

.textAbajoUsers{
    margin-bottom: 10px;
}

.btPermiso i.searching{
    display:block;   
}

.btPermiso i.cargando{
    display:none;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

div.btAddPermiso
{
	cursor: pointer;
    /*padding-left: 14px;*/
    float:right;
/*	width: 123px;
	height: 16px;
	background: url(/static/images/bg_boton_zonapersonal.gif);
	background-repeat: repeat-x;
	font-family: verdana;*/
	color: #FFFFFF;
	font-size: 10px;
/*	font-weight: bold;*/
	text-align: center;
	/*padding-top: 2px;
	margin-top: 15px;*/
    height: 30px;
    line-height: 28px;
    padding: 0 1rem;
    letter-spacing: 0.2px;
}

/*#OptsJerarquia .row{
    margin-left:0;
}*/


.ButtonsSelectCurso{
    margin:10px 0;
}

.labelComentario{
    font-size: 0.85em;
}


/* CALENDARIOS */

.contenedorCalendario .row{
    padding: 19px 6px;
} 

#CalendarGrid table.calendario tr th{
    text-align: center;
}

.calendarNavRap{
    padding:0 !important;
}

#CalendarLeft .selMes, #CalendarLeft .selAnio{
    padding:4px; 
    width:48%; 
}

.tabs .solapa, .tabs .solapaHoy{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 23px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .8px;
    width: 15%;
    min-width: 50px;
}
.tabs .solapa a, .tabs .solapaHoy a {
  color: #303f9f;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease; 
}
.tabs .solapa a:hover, .tabs .solapaHoy a:hover {
    color: #6573d0; 
}
.tabs .solapa.disabled a {
  color: #6573d0;
  cursor: default; 
}



@media only screen and (max-width: 600px) {
    .CalendarGridMes table.calendario tr td{
        padding:0;
    }
    .CalendarGridMes .CalendarMesInfo{
        width:100%;
    }
}


/* Para 600px */  
@media only screen and (max-width: 600px) and (min-width: 501px) {  
  .CalendarGridMes .calendario{
        width:490px;   
    }
}  

/* Para 600px */  
@media only screen and (max-width: 500px) and (min-width: 421px) {  
  .CalendarGridMes .calendario{
        width:380px;   
    }
}  
  
/* Para 480px */  
@media only screen and (max-width: 420px) and (min-width: 381px) {  
  .CalendarGridMes .calendario{
        width:360px;   
    }
}  
  
/* Para 320px */  
@media only screen and (max-width: 380px) and (min-width: 5px)  {  
  .CalendarGridMes .calendario{
        width:310px;   
    }
    .CalendarGridMes table.calendario tr td
    {
    /*	width: 40px;*/
    }
} 

@media only screen and (max-width: 500px){  
    .CalendarGridMes .CalendarMesInfo div span {
        font-size: 9px;
    }
    .CalendarGridMes table.calendario tr td {
        min-height: 95px;
    }
    .CalendarGridMes .CalendarMesInfo {
        min-height: 95px;
    }
} 

.hayEventoDia{
    border-radius: 5px;
    padding: 0 1px;
    font-weight:bold;   
}

.CalendarHeader table .agenda a{
    cursor:pointer;
}

.titDiaSemana{
    font-size:15px;
    font-weight:bold;
    padding:5px;
}

.horaEventoSemana{
    font-size:13px;
    font-style:italic;
}